// Color cube 
$river-bed: #46525f;
$pelorous: #39afbb;
$franch-gray: #bcbcbd;
$firefly: #081425;
$contessa: #bc7a69;
$thunderbird: #cc201f;
// Medisn cut 
$gallery: #f1efef;
$mako: #41474f;
$pelorous-variant: #449ebf;
$reven: #7c858f;
$cascade: #88acab;
// Material design 
$pelorous-vibrant: #3ba5bd;
$pine-cone: #655850;
$firefly-vibrant: #0f1d2d;
$limed-spruce: #3d4954;
$contessa-vibrant: #c46e5f;
